<h2>Search Results:</h2>
{{#each searchResults}}
    <div class="card" style="width: 18rem; display:inline-block; margin: 0.5rem; ">
        <img class="card-img-top" src="{{this.imgUrl}}" alt="{{this.name}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.desc}}</p>
            <p class="card-text">ID: {{this.id}}</p>
            <p class="card-text">SKU: {{this.sku}}</p>
            <a href="#" class="btn btn-primary" data-product-id="{{this.id}}">Add to Cart</a>
        </div>
    </div>
{{/each}}
<div>
<a class="btn btn-default" href="/">Back</a>
</div>